{% extends '_base.html' %}

{% load static %}

{% block title %}Trade details{% endblock title %}

{% block content %}
  <div class="row mt-5 mb-5">
    <div class="col">
      <h3>Trade {{ trade }} <a href="{% url 'trades_update' trade.pk %}" class="btn btn-sm btn-outline-primary">Update</a></h3>
      
      <p>{{ trade.open_price }}</p>
      
      <p>
      {% with trade.links.split as links %}
        {% for link in links %}
        <a class="text-decoration-none" href="{{ link }}" target="_blank">{{ link }}</a> 
        {% endfor %}
      {% endwith %}
      </p>
        
    </div>
  </div>
{% endblock content %}
  